<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}" />
    <title>Trader login</title>
</head>
<body>
    <div class="bg-img">
        <form action="action_page.php" method="post">
            <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username" required>
            <br>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
            <br>


            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <button type="submit" class="btn">Login</button>
           </div>
        </form>




    </div>
    <footer >
              <p style="color:#FA8072;">
    <strong>email</strong>: bojack212324@gmailcom | <strong>phone</strong>: 917-555-1098 | <strong>address</strong>: 371 284th St, New York, NY, 10001
                </p>
    </footer>

</body>
</html>